<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="login.php" method="post">
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox">Remember me
                </label>
                <a href="#">Forgot password?</a>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>











body {
    font-family;"Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("image.jpg") no-repeat;
    background-size: cover;
    background-position: center;

}

.login-container {
    width: 300px;
    background: transparent;
    border: 1pt solid rgb(159, 140, 230);
    color: #fff;
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.login-container h2 {
    font-size: 36px;
    text-align: center;

}

.input-group {
    width: 100%;
    height: 50px;
    margin: 30px 0;

}



.input-group input {
    width: 20;
    height: 50%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid;
    border-radius: 20px;
    font-size: 16px;
    color: #fff;
    padding: 10px 100px 5px 10px;

}



.remember-forgot  {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forgot a {
    color: #fff;
    text-decoration: none;    
}

button {
    text-align: center;
    width: 100%;
    height: 30%;
    padding: 10px 100px 20px 20px;
    background-color: #2e547c;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: 0 0 5px rgba(30, 40, 99, 0.658)  ;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;


}

button:hover {
    background-color: #8a6bfc;
}

