{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Home</title>
  </head>
  <body>
    <div class="class1">
      <!-- <div class="class3">
        <img class="img1" src="../public/Heart_Beat-removebg-preview 1.png" />
      </div> -->
      <nav class="navbar">
        
        <ul>
          <li>
           
          </li>
          <!-- <div class="list">EMO</div>
          <li class="list"><a href="">Home</a></li>
          <li class="list"><a href="">How It Works</a></li>
          <li class="list"><a href="">About Us</a></li>
          <li class="list"><a href="">Contact Us</a></li>
          <li class="signout"><a href="">sign out</a></li> -->
          <div class="header-list">
            <div class="logo-container"><img src="" alt="">EMO</div>
            <a href=""> Home </a>
            <a href=""> How it Works </a>
            <a href=""> About us </a>
            <a href=""> Contact us</a>
            <li class="signout"><a href="">sign out</a></li>

          </div>
          <!-- <a href=""><button class="signout-button">SIGN OUT </button></a> -->
        </ul>
        <ul>
          <li></li>
        </ul>
      </nav>
    </div>
    <div class="class2">
      <div class="class8">
        <h2>
          Welcome to the future! Be a part of improving  <br />
          products by just feedback at EMO. A handy tool to get <br />
           the shortest review of your new favorite products.
        </h2>
        <a href=""><button class="view">UPLOAD VIDEO </button></a>
        <a><button class="view">VIEW FEEDBACK</button></a>
      </div>
     
    </div>
  
   
    <div class="class3">
      <div class="container1">
        <div class="class4">
          <div class="container2">
            <div class="imagedec">
              <img src="home3.jpg" alt="Background Image" style="width: 200%; height: auto; border-radius: 10px;"/>
            </div>
          </div>
          <div class="container3">
            <div class="step">Discover Our Platform </div>
            <div class="info">
             we analyze facial expressions in user videos to offer valuable <br />feedback.
             Whether you're a consumer or a company, our platform 
             provides an easy solution for sharing 
             and understanding product experiences. 
           </div>          
        </div>
      </div>

      <div class="container1">
        <div class="class10">
          <div class="container2">
            <div class="step">Effortless Feedback </div>
            <div class="info">
              Share your thoughts effortlessly by uploading a video<br />
              Gain insights into your feelings
              about products and services
              For companies, it's a way to understand 
              and improve customer satisfaction. 
           </div>          
          </div>
          <div class="container2">
            <div class="imagedec">
            <img src="home4.jpg" alt="Background Image" style="width: 170%; height: auto; border-radius: 10px;"/>
          </div>
        </div>        
      </div>
        
        
    


        <div class="container1">
          <div class="class4">
            <div class="container2">
              <div class="imagedec">
                <img src="home2.jpg" alt="Background Image" style="width: 300%; height: auto; border-radius: 10px; "  />
              </div>
            </div>
            <div class="container3">
              <div class="step">Unlock Insights </div>
              <div class="info">
               Gain invaluable feedback to enhance products <br />
               and services.Understand customer sentiments better,<br /> 
               leading to improved brand loyalty and <br /> customer satisfaction. 
             </div>          
          </div>
        </div>

<!--         
        <div class="class4">
          <div class="beat">
            <img src="{% static 'assets/img/Group 43.png' %}" />
          </div>
          <div class="step"> Unlock Insights </div>
          <div class="info">
            Gain invaluable feedback to enhance products and services.<br />
            Understand customer sentiments better,<br />
            leading to improved brand loyalty and customer satisfaction.
          </div>
        </div> -->
     
      </div> 
      <!-- <div class="class4">
        <div class="beat">
          <img src="{% static 'assets/img/Group 21.png' %}" />
        </div>
        <div class="step">/ PREDICTION /</div>
        <div class="info">
          Our predictor crafts a tailored<br />
          prediction just for you. We'll<br />
          alert you to any irregularities<br />
          and provide valuable insights<br />
          into what they could mean for<br />
          your heart health.
        </div>
      </div> -->
    </div>
    <!-- <div class="class5">
      <div class="arrow">
        <img src="{% static 'assets/img/Vector (2).png' %}" />
      </div>  -->
      <div class="meet">MEET OUR TEAM</div>
      <!-- <div class="des">
        Meet the passionate minds shaping your heart health journey
      </div> -->
      <div class="team">
        <div class="class9">
          <div>
            <i class="fa-solid fa-user"></i>
            <!-- <img src=""  /> -->
          </div>
          <div>ADISH MILAN</div>
        </div>
        <div class="class9">
          <div>
            <i class="fa-solid fa-user"></i>
            <!-- <img src="user.png"style="width: 15%;" /> -->
          </div>
          <div>ATHENA ROY</div>
        </div>
        <div class="class9">
          <div>
            <i class="fa-solid fa-user"></i>
          </div>
          <div>LANA SALEEM</div>
        </div>
        <div class="class9">
          <div>
            <i class="fa-solid fa-user"></i>
          </div>
          <div>MUHAMMED SHEFIN</div>
        </div>
    </div>
    <div>
      <!-- <div class="arrow">
        <img src="{% static 'assets/img/Vector (2).png' %}" />
      </div> -->
      <div class="meet">GET IN TOUCH</div>
      <div class="class7">
        <div class="class6">
          <div>
            <!-- <img src="{% static 'assets/img/Vector (1).png' %}" /> -->
          </div>
          <div>
            Rajagiri School of Engineering and Technology<br />
            Rajagiri Valley Rd, Rajagiri Valley,<br />
            Kakkanad, Kerala 682039
          </div>
        </div>
        <div class="class6">
          <div>
            <!-- <img src="{% static 'assets/img/Vector.png' %}" /> -->
          </div>
          <div>
            Rajagiri School of Engineering and Technology<br />
            0484 266 0999<br />
            +91 12124 44101
          </div>
        </div>
        <div class="class6">
          <div>
            <!-- <img src="{% static 'assets/img/mail-fill.png' %}" /> -->
          </div>
          <div>
            Rajagiri School of Engineering and Technology<br />
            u2108001@rajagiri.edu.iin
          </div>
        </div>
      </div>
    </div>
  </body>
</html>



