body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #1c3a5e; /* Replace 'background.jpg' with your image file */
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.7); /* Semi-transparent black background for header */
    color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .back-button {
    margin-left: 10px;
    cursor: pointer;
}

.header .signout-button {
    margin-right: 10px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.box {
    background-color: rgba(192, 200, 228, 0.8); /* Semi-transparent white background for box */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideInUp 0.5s ease forwards;
}

.box h2 {
    margin-bottom: 20px;
    color: #2e547c;
}

.button {
    display: inline-block;
    width: 200px; /* Set a fixed width for the buttons */
    height: 50px; /* Set a fixed height for the buttons */
    line-height: 50px; /* Center the text vertically */
    background-color: #2e547c;
    color: #edecf3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none; /* Remove underline from the link */
    text-align: center;
}

.button:hover {
    background-color: #1c3a5e;
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
}

.popup:target {
    display: flex; /* Show the popup when targeted */
}

.popup-content {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    animation: fadeIn 0.3s ease-in-out;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none; /* Remove underline from the link */
    color: #000;
}

.popup-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #2e547c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup-btn:hover {
    background-color: #1c3a5e;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#fileInput {
    display: block;
    margin: 10px auto;
    height: 70%;
}

#fileName {
    margin-top: 10px;
    color: #333;
}
.h2{
    color: green;
    font-size: 60%;
}